<footer class="footer border-top mt-5">
  <div class="container footer-main">
    <div class="row align-items-center text-center text-md-start">

      <!-- Brand -->
      <div class="col-md-6 mb-3 mb-md-0">
          <a class=" " href="/listings"><i class="fa-solid fa-compass-drafting"></i><h6 class="footer-logo mb-1">  WanderLust</h6></a>
        
        <p class="footer-tagline mb-0">
          Discover places. Book experiences. Travel better.
        </p>
      </div>

      <!-- Links -->
      <div class="col-md-6">
        <ul class="footer-links justify-content-md-end justify-content-center">
          <li><a  href="/listings">Explore</a></li>
          <li><a  href="/listings">Listings</a></li>
          <li><a  href="/listings/new">Register Your Property</a></li>
        </ul>
      </div> 

    </div>
  </div>

  <div class="footer-bottom">
    © 2026 WanderLust. All rights reserved.
  </div>
</footer>
