<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <form action="/listings" method="post">
        <input type="text" name="title" , placeholder="enter the title">
        <br>
        <textarea name="description" placeholder="enter the discripion"></textarea>
        <br>
        <input type="number" name="price" placeholder="enter the price">
        <br>
        <input type="text" name="location" placeholder="enter the location">
        <br>
        <input type="text" name="country" placeholder="enter the country">
        <button>submit</button>
    </form>
</body>
</html>