<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <div class="col-6 offset-3">
     <h3  class="mt-4 mb-4 fw-semibold">SignUp</h3>

    <form action="/signup" method="post" class="needs-validation" novalidate>

    <div class="mb-3">
        <label for="username" class="form-label"> Username</label>
        <input type="text"  name="username" placeholder="Enter your Username" class="form-control" required>
        <div class="invalid-feedback"> Please enter the Username.</div>
        <div class="valid-feedback">Looks good! </div>
    </div>
      
    <div class="mb-3">
        <label for="email" class="form-label"> Email</label>
        <input type="email" name="email" placeholder="Enter your Email" class="form-control" required>
        <div class="invalid-feedback"> Please enter your email.</div>
        <div class="valid-feedback">Looks good! </div>
    </div>
      
    <div class="mb-3">
        <label for="password" class="form-label"> Password</label>
        <input type="password" name="password" placeholder="Enter your password" class="form-control" required>
        <div class="invalid-feedback"> Please enter the password.</div>
        <div class="valid-feedback">Looks good! </div>
    </div>
      

<button  class="  btn btn-outline-danger px-4 rounded-pill add-btn">submit</button>


    </form>


    </div>
</div>